.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

@media (min-width: 576px) {
  .modal-dialog-scrollable .modal-content {
      max-height: 100vh!important;
  }
  .modal-full-height .modal-content {
    height: 80vh;
  }
}

.button-img {
  display: block;
  width: 50px;
  height: auto;
}
.btn--options {
  padding: 0;
  width: 100%;
    .button-img {
      width: 100%;
    }
}
.nodeVilla {
  .right-column {
    padding-left: 25px;
  }
}
.agile {
  .agile__actions {
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
   .agile__nav-button--prev {
    left: -30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .agile__nav-button--next {
    right: -30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
.for-scroll {
  scroll-margin-top: 5rem;
}
